@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body {
  background: url(./assets/background.jpg);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reguler-txt {
  font-weight: 400;
}

.main-container {
  width: 800px;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-container {
  position: relative;
  width: 80%;
  max-width: 500px;
}

.city-input {
  width: 100%;
  padding: 12px 50px 12px 20px;
  border-radius: 99px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  outline: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  transition: 0.3s ease;
}

.city-input:focus {
  border-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.08);
}

.city-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  font-size: 24px;
  padding: 4px;
  transition: 0.2s ease;
}

.search-btn:hover {
  color: white;
  transform: translateY(-50%) scale(1.1);
}

/* Weather Info Container */
.weather-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

/* Left Block */
.weather-left {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px;
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center; 
  gap: 12px;
}


.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}


.weather-icon {
  width: 100px;
  height: 100px;
}

.temperature {
  font-size: 32px;
}

.weather-desc {
  font-size: 16px;
}

/* Right Block */
.weather-right {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 15px;
  color: white;
  flex-grow: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info-item span {
  font-size: 22px;
  color: #ccc;
}

/* Forecast Container */
.forecast-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.forecast-item {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 70px;
  color: white;
  flex-grow: 1;
}

.forecast-item img {
  width: 40px;
  height: 40px;
}

.day {
  font-size: 14px;
  margin-bottom: 4px;
}

h3 {
  font-size: 13px;
  text-align: left;
  color: white;
}


.temp {
  font-size: 16px;
}
